
/*                         MEDIA QUERIES                  */

@media screen and (min-width: 900px) {
    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        min-height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        border: none;
        margin: 0 2.4rem;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }

    .active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--white-color);
        left: 0;
        bottom: -3px;
    }

    .sub-headline {
        font-size: 10rem;
    }

    .headline {
        font-size: 4.7rem;
    }

    .story-img {
        max-width: 40rem;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .row > div {
        flex: 1;
    }

    .padding-right {
        padding-right: 7rem;
    }

    .footer__content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer__content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer__content-divider {
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .newsletter-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

    .social-icons i {
        opacity: 1;
    }

    .reservation__form {
        display: flex;
        align-items: flex-start;
        margin: 4rem 0 2rem;
    }

    .reservation__form > *:not(:last-child) {
        margin-right: 2rem;
    }

    .bakers__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }

    .bakers__container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .baker:last-child {
        margin-bottom: 7rem;
    }

    .join-us .image {
        display: block;
    }

}

/*          ANIMATIONS           */

@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleBigger {
    0% {
        transform: scale(2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        opacity: 1;
        transform: scale(-360deg);
    }
}

@keyframes showsUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}